<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>周恩义</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/vue.js"></script>
    <script src="./js/index.js"></script>
</head>
<body>
    <div id="app">
        <div class="leftFrame">
            <pre>
{{code}}
            </pre>
        </div>
        <div class="rightFrame">
            <!-- 主视图 -->
            <div class="elevation">
                <div v-html="mainData"></div>
            </div>
            <!-- 键盘 -->
            <div class="keyboard">
                <div v-for="(item, index) in keyboard" :key="index">
                    <div :class="data.style?'key click':'key'" v-for="(data, _index) in item" :key="_index" @click="clickKey(index,_index)">{{data.info}}</div>                  
                </div>
            </div>
            
        </div>        
    </div>
</body>
</html>